
/* myStyle.css */
p {
	text-align: right;
	border: 100px;
	margin-top: 2em;
	margin-bottom: 2em;
}

input[type=text] {
	font-family: Verdana, Geneva, sans-serif;
	width: 100%;
	line-height: 48px;
	padding: 6px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 4px;
}

input[type=submit] {
	border-radius: 3px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #4CAF50; /*gray*/
	opacity: 0.8;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

.styled-select {
   height: 44px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   border-radius: 3px;
   font-family: Verdana, Geneva, sans-serif;
   border: 1px;
   background-color: transparent;
   font-size: 14px;
   height: 44px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 180px;
}