<meta charset="utf-8">

<head>
 <img src="/static/logo3.png" alt="logo"> 

 <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>


<body>
<p>
<form method="POST"  enctype="multipart/form-data">
    <input type="text" name = "text" rows="10" cols="50" placeholder = "{{ holder }}">
    
    <input type="submit" value = "Play">
    
    <title>Select Box Control</title>
    <body>
        <form>
            <span class = "styled-select">
                <select name = "dropdown">
                    <option value = 1 selected>Piano</option>
                    <option value = 6 >Synth</option>
                    <option value = 20>Organ</option>
                    <option value = 9>Xylophone</option>
                    <option value = 15 >Bells</option>
                    <option value = 7>Acoustic Guitar</option>
                    <option value = 30>Eletric Guitar</option>
                    <option value = 50>Strings</option>
            </span>
            
            <span class = 'load_txt'>
                <form action="getfile" method="POST" enctype="multipart/form-data">
                    <input type="file" name="myfile">
                </form>
            </span>   
        </form>
     
    </body>

</html>
</form>
</p>

</body>
</html>

